<% @title = "Boyfriend of the Year Award: Happy Birthday!" %>


<h1>I love you!</h1>

<center><div class="images"><%= image_tag("IMG_5747 copy.jpg", alt:"Darrien and Ashley at Rocky Mountain National Park", title:"Darrien and Ashley at Rocky Mountain National Park") %><%= image_tag("IMG_6412 copy.jpg", alt:"Darrien and Ashley at S&S Deli", title:"Darrien and Ashley at S&S Deli") %><%= image_tag("IMG_6276 copy 2.jpg", alt:"Ashley and Darrien in Caz 215", title:"Ashley and Darrien in Caz 215") %></div></center>

<br>

<p><div class="text">Dear Darrien, <br><br>There are no words to tell you how much you mean to me, but I'm going to try anyway. You're my best friend. It means everything to me that I know I can trust you with anything, and I do (even if it took me a little while). Thank you for being being patient with me when I am frustrating, for loving me when I am hard to love, and for taking care of me when I have a hard time taking care of myself. You are so amazing in so many ways; you're thoughtful, considerate, funny, patient, and amazingly handsome. Every single day, I wake up so happy and so grateful to have such a wonderful person in my life. I love everything about you - I love the way you smirk when I make a pun, the way you twitch when you're falling asleep, the way you rant and ramble when you get excited about something. You've supported me through coming out and you've talked me down from flashbacks, and that's everything to me. You're everything to me. I love you so much, Darrien, and I don't ever want to be with anyone else.<br><br> I'm sorry I can't be there for your birthday, but I hope you have a wonderful day. In a couple weeks, I'll take you out for dinner and we'll have an amazing date; hopefully that makes up for it. You're so amazing and I love you more than I can even say. Happy 21st birthday, sweetheart :)<br><br>Love,<br>Ashley<br><br>P.S. Thank you for all your help on this little project of mine. You're amazing and I love you.</div></p>
